In [2]:
#import dependencies

#import pandas to read csv file and create the locations and measurements from the dataframe
import pandas as pd 

#import gmaps to create heatmaps and the locations map 
import gmaps 

#import requests to make requests to google places JSON file
import requests

#import api key
from config import g_key

In [3]:
#store csv into dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Shaghat,AM,2021-07-22 19:32:50,39.5625,45.9143,77.70,77,3,7.23
1,1,Sao Filipe,CV,2021-07-22 19:32:50,14.8961,-24.4956,75.22,88,21,7.47
2,2,Pevek,RU,2021-07-22 19:32:50,69.7008,170.3133,40.06,71,98,2.24
3,3,Mount Isa,AU,2021-07-22 19:32:50,-20.7333,139.5000,60.57,51,100,0.00
4,4,Bredasdorp,ZA,2021-07-22 19:30:47,-34.5322,20.0403,43.92,81,20,3.44

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
#configure gmaps to use google api key 
gmaps.configure(api_key = g_key)

In [ ]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [17]:
#heatmap of temp 

#get latitude and longitude 
locations = city_data_df[["Lat", "Lng"]]

#get max temp 
max_temp = city_data_df["Max Temp"]

#assign the figure variable 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#assign the heatmap variable 
heat_layer = gmaps.heatmap_layer(locations, weights = temps, dissipating=False, max_intensity=300, point_radius=4)

#add the heapmap layer
fig.add_layer(heat_layer)


#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
#heatmap of percent cloudiness

#get latitude and longitude 
locations = city_data_df[["Lat", "Lng"]]

#get max temp 
cloudiness = city_data_df["Cloudiness"]

#assign the figure variable 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#assign the heatmap variable 
heat_layer = gmaps.heatmap_layer(locations, weights = cloudiness, dissipating=False, max_intensity=300, point_radius=4)

#add the heapmap layer
fig.add_layer(heat_layer)


#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
#heatmap of wind speed

#get latitude and longitude 
locations = city_data_df[["Lat", "Lng"]]

#get max temp 
wind_speed = city_data_df["Wind Speed"]

#assign the figure variable 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#assign the heatmap variable 
heat_layer = gmaps.heatmap_layer(locations, weights = wind_speed, dissipating=False, max_intensity=300, point_radius=4)

#add the heapmap layer
fig.add_layer(heat_layer)


#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
#ask the customer to add a min and max temp value 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
#filter the dataset to find the cities that fit the criteria 
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Shaghat,AM,2021-07-22 19:32:50,39.5625,45.9143,77.70,77,3,7.23
1,1,Sao Filipe,CV,2021-07-22 19:32:50,14.8961,-24.4956,75.22,88,21,7.47
7,7,Puri,IN,2021-07-22 19:32:51,19.8000,85.8500,83.37,82,100,12.68
10,10,Saint Anthony,US,2021-07-22 19:32:52,45.0205,-93.2180,84.09,59,20,13.80
11,11,Vaini,TO,2021-07-22 19:32:52,-21.2000,-175.2000,76.35,68,100,8.46

In [26]:
#check if there are null values in preferred_cities_df
preferred_cities_df.count()

City_ID       205
City          205
Country       205
Date          205
Lat           205
Lng           205
Max Temp      205
Humidity      205
Cloudiness    205
Wind Speed    205
dtype: int64

In [27]:
#create a dataframe called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotels_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

#add empty column called Hotel Name 
hotels_df["Hotel Name"] = ""
hotels_df.head()

             City Country  Max Temp      Lat       Lng Hotel Name
0         Shaghat      AM     77.70  39.5625   45.9143
1      Sao Filipe      CV     75.22  14.8961  -24.4956
7            Puri      IN     83.37  19.8000   85.8500
10  Saint Anthony      US     84.09  45.0205  -93.2180
11          Vaini      TO     76.35 -21.2000 -175.2000

In [28]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [35]:
# Iterate through the DataFrame.
for index, row in hotels_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotels_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [36]:
hotels_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Shaghat,AM,77.70,39.5625,45.9143,
1,Sao Filipe,CV,75.22,14.8961,-24.4956,Hotel Xaguate
7,Puri,IN,83.37,19.8000,85.8500,OYO 1577 Hotel Shree Hari Grand
10,Saint Anthony,US,84.09,45.0205,-93.2180,"Holiday Inn Express Roseville-St. Paul, an IHG..."
11,Vaini,TO,76.35,-21.2000,-175.2000,Keleti Beach Resort

In [39]:
# Add a heatmap of temperature for the vacation spots.
locations = hotels_df[["Lat", "Lng"]]
max_temp = hotels_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [42]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotels_df.iterrows()]

In [43]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotels_df[["Lat", "Lng"]]
max_temp = hotels_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))